* {
border: none;
background: #38bdf8;
color: #000;
font-weight: bold;
border-radius: 30px;
cursor: pointer;
transition: .3s;
}


.btn:hover {
transform: scale(1.1);
}


section {
padding: 100px 60px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background: rgba(15,23,42,0.95);
  z-index: 9999;
}

.projects .project-slider {
display: flex;
gap: 30px;
overflow-x: auto;
}


.project-card {
min-width: 300px;
height: 200px;
border-radius: 20px;
overflow: hidden;
transition: .5s;
}


.project-card:hover {
transform: scale(1.15);
}


.project-card img {
width: 100%;
height: 100%;
object-fit: cover;
}


.services {
display: flex;
gap: 30px;
}


.service-box {
background: #1e293b;
padding: 30px;
border-radius: 20px;
text-align: center;
transition: .4s;
}


.service-box:hover {
transform: translateY(-15px);
}


.contact form {
max-width: 500px;
display: flex;
flex-direction: column;
gap: 15px;
}


input, textarea {
padding: 12px;
border-radius: 10px;
border: none;
}


footer {
text-align: center;
padding: 30px;
background: #020617;
}
